body{
    background-color: lightcyan;
    font-family: 'Serif';
}

.post{
    background-color: white;
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: 30%;
    height: 600px;
    width: 36.2%;
}
.post-header{
    display: flex;
    padding-left: 35px;
    padding-top: 7px;
}

.fa-brands{
    position: absolute;
    font-size: x-large;
    left: 10px;
    top: 15px;
}

.fa-solid{
    position: absolute;
    font-size: x-large;
    left: 94%;
    top: 20px;
}

.post-img{
    background-size: cover;
    width: 100% ;
    height: 300px;
}

.post-body{
    padding: 15px;
}

.icons{
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
}
.fa-bookmark{
    position: absolute;
    left: 90%;
}
